.news-reader {
    height: auto;
    padding: 20px;
    background-color: #222;
    color: white;
}

.news-title {
    font-size: large;
    font-weight: bold;
}

.news-content {
    font-size: normal;
}

.news-image {
    max-width: 800px;
    max-height: 800px;
}