.news-reader {
    height: auto;
    padding: 20px;
    background-color: #222;
    color: white;
}

.news-reader-title {
    font-size: x-large;
    font-weight: bold;
}

.news-reader-content {
    font-size: normal;
    font-style: italic;
}

.news-reader-url {
    color: white;
}

.news-reader-url:hover {
    text-decoration: none;
}

.news-reader-image {
    max-width: 800px;
    max-height: 800px;
}