.news-card {
    height: 100%;
    width: 75%;
    background-color: red;
    border: 1px solid black;
}

.news-card:hover {
    background-color: yellow;
    cursor: pointer;
}

.news-title {
    font-weight: bold;
}