.news-card {
    height: 100%;
    width: 75%;
    background-color: #00ff00;
    color: black;
}

.news-card:hover {
    background-color: #005a00;
    cursor: pointer;
}

.news-card-title {
    font-weight: bold;
}