.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.app-watermark {
  opacity: 0.5;
}

.app-watermark > a:hover {
  opacity: 1;
  text-decoration: none;
}

.app-watermark > a, a:visited, a:focus {
  color: white;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-news-cards-container {
  display: grid;
  justify-items: center;
  height: 150px;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}